<!DOCTYPE html>
<html lang="en" ng-app="systemdgen" ng-strict-di>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>systemd服务文件生成器 | sout.ltd</title>
    <meta name="description" content=">一个简单的 Systemd 服务文件在线生成器。这个强大而直观的用户界面使我们在创建带有所有可能设置的新服务文件时更加高效。">
    <meta name="keywords" content="systemd服务文件生成器，systemd生成器，Linux服务文件。">

    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet"
          href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/default.min.css">
    <link rel="stylesheet" href="https://highlightjs.org/static/demo/styles/vs2015.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>

    <style>
        .preview {
            position: sticky;
            top: 0;
        }

        .preview span {
            margin: 0;
            font-family: monospace;
        }

        .preview .section {
            margin: 0;
            font-weight: bold;
            margin: 10px 0 0 0;
        }

        footer {
            margin: 20px 0 20px 0;
            text-align: center;
            font-size: smaller;
            text-transform: uppercase;
        }

        a {
            color: cadetblue;

        }

        ng-messages {
            color: white !important;
            padding: 5px 5px 5px 5px;
        }

        .hint {
            color: rgb(255, 193, 7);
        }


    </style>

</head>

<body ng-controller="main">

<div layout="row" layout-xs="column" layout-wrap layout-padding>
    <div flex="">
        <h1 class="md-display-3" style="text-align: center;">Systemd 配置生成器</h1>
        <p class="md-body-2">这是一款简单的Systemd服务文件在线生成器。它具有强大且直观的用户界面，
            使我们在创建带有所有可能设置的新服务文件时更加高效。您可以单击加号按钮，在相应的部分下添加更多选项。
            我希望这个工具能让您的生活更加轻松愉快，祝您使用愉快！
        </p>
        <p style="text-align: center;">
            Find the code <a href="https://github.com/NunuM/my-systemd-service-file-generator">GitHub</a><br>
            中文翻译文档：<a href="http://www.jinbuguo.com/systemd/systemd.index.html">systemd 中文手册 [金步国]</a>
    
        </p>
    </div>
    <div flex="" style="width: 100%;">
        <pre style="overflow: auto;"><code class="language-bash">
#怎样安装服务
sudo cp -v mysystemdservice.service /etc/systemd/system #复制 service file
sudo systemctl enable mysystemdservice.service          #启用 service
sudo systemctl start mysystemdservice.service           #开启 service
sudo systemctl status mysystemdservice.service          #检查服务运行状态
sudo journalctl -f -u mysystemdservice.service          #查看服务日志

#怎样删除服务
sudo systemctl stop mysystemdservice.service            #停止服务
sudo systemctl disable mysystemdservice.service         #禁用服务/禁止启动
sudo systemctl daemon-reload                            #重新加载
        </code></pre>
    </div>
</div>


<div layout="row" layout-xs="column" layout-wrap>
    <div flex="" layout-padding>

        <!-- UNIT OPTIONS  -->
        <md-toolbar class="md-toolbar-tools">
            <h3>Unit Options</h3>

            <span class="flex"></span>

            <md-button class="md-icon-button" aria-label="More">
                <md-icon ng-click="showOptionsDialogue($event,'unit', 'unitVisibleItems')" md-svg-icon="plus.svg">
                </md-icon>
            </md-button>

        </md-toolbar>


        <d-unit sec="unit" vis="unitVisibleItems"></d-unit>


        <!-- SERVICE OPTIONS  -->

        <md-toolbar class="md-toolbar-tools">

            <h3>Service Options</h3>

            <span class="flex"></span>

            <md-button ng-click="showOptionsDialogue($event,'service', 'serviceVisibleItems')"
                       class="md-icon-button" aria-label="More">
                <md-icon md-svg-icon="/plus.svg"></md-icon>
            </md-button>

        </md-toolbar>

        <d-unit sec="service" vis="serviceVisibleItems"></d-unit>

        <!-- INSTALL OPTIONS  -->

        <md-toolbar class="md-toolbar-tools">

            <h3>Install Options</h3>

            <span class="flex"></span>

            <md-button ng-click="showOptionsDialogue($event,'install', 'installVisibleItems')"
                       class="md-icon-button" aria-label="More">
                <md-icon md-svg-icon="/plus.svg"></md-icon>
            </md-button>

        </md-toolbar>

        <d-unit sec="install" vis="installVisibleItems"></d-unit>

    </div>
    <div flex="" layout-padding>
        <md-toolbar class="md-toolbar-tools">
            <h3>配置文件预览</h3>

            <span class="flex"></span>

            <md-button ng-click="download()" class="md-icon-button" aria-label="Download">
                <md-icon md-svg-icon="/download.svg"></md-icon>
            </md-button>

        </md-toolbar>

        <d-preview></d-preview>

    </div>
</div>

<footer>
    <p>Made with ❤️ by <a href="https://github.com/NunuM" rel="author" target="__blank">NunuM</a></p>
</footer>


<!-- Angular Material requires Angular.js Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>

<script src="app.js"></script>
</body>

</html>
